[data-theme="dark"] {
    --background: #202d36;
    --element1: #272a34;
    --element2: #171e28;
    --button: #141519;
    --text: #fff;
}

[data-theme="light"] {
    --background: #fafafa;
    --element1: #eee;
    --element2: #ccc;
    --button: #aaa;
    --text: #000;
}

* {
    transition-property: color, background-color, box-shadow, background, border-bottom;
    transition-duration: 0.5s;
}

body {
    margin: 50px;
    background-color: var(--background);
}

button {
    all: unset;
}

#displaySwitch {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    user-select: none;
    font-size: xx-large;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: var(--text);
}


main {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, 320px);
    padding: 10px;
    justify-content: center;
}

.project {
    height: 300px;
    width: 320px;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    gap: 20px;
    padding-top: 20px;
    background: linear-gradient(var(--element1), var(--element2));
}

.project * {
    margin: 0 auto;
}

.project>img {
    width: 75%;
    border-radius: 10px;
    aspect-ratio: 4/3;
    object-fit: cover;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.projectLinkHolder {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-bottom: 20px;
}

.project a {
    width: 70%;
    height: 40px;
    background-color: var(--button);
    color: var(--text);
    font-size: small;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    line-height: 40px;
}


.project a:hover {
    transition: background-color, 0.2s;
    background-color: var(--element1);
    cursor: pointer;
}

.projectLight a:hover {
    background-color: #888 !important;
}

.project .projectLink {
    border-bottom: 2px solid var(--element1);
    border-radius: 15px 15px 0 0;
}

.project .FMLink {
    border-radius: 0 0 15px 15px;
}

@media screen and (max-width: 1000px) {

    main {
        display: flex;
        flex-flow: column;
        align-items: center;
    }
}