* {
    transition-property: color, background-color, box-shadow, background, border-bottom;
    transition-duration: 0.5s;
}

body {
    margin: 50px;
    background-color: #141519;
}

.bodyLight {
    background-color: #fff !important;
}

#displaySwitch {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    user-select: none;
    font-size: xx-large;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #fff;
}

.h1Light {
    color: #000 !important
}

#main {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, 400px);
    padding: 10px;
    justify-content: center;
}

.project {
    height: 300px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    box-shadow: 0px 2px 5px #000;
    justify-content: space-between;
    background: linear-gradient(#272a34, #171e28);
}

.projectLight {
    box-shadow: 0px 2px 5px #aaa !important;
    background: linear-gradient(#eee, #ccc) !important;
}

.project * {
    margin: 0 auto;
}

.project>img {
    width: 50%;
    border-radius: 10px;
    margin: 20px auto;
}

.projectLinkHolder {
    display: flex;
    flex-flow: column;
    width: 100%;
    margin-bottom: 20px;
}

.project a {
    width: 70%;
    height: 40px;
    background-color: #141519;
    color: #fff;
    font-size: small;
    text-align: center;
    font-weight: bolder;
    text-decoration: none;
    line-height: 40px;
}

.projectLight a {
    background-color: #aaa !important;
    color: #000 !important;

}

.project a:hover {
    transition: background-color, 0.2s;
    background-color: #272a34;
    cursor: pointer;
}

.projectLight a:hover {
    background-color: #888 !important;
}

.project .projectLink {
    border-bottom: 2px solid #272a34;
    border-radius: 15px 15px 0 0;
}

.projectLight .projectLink {
    border-bottom: 2px solid #888 !important;
}

.project .femLink {
    border-radius: 0 0 15px 15px;
}

@media screen and (max-width: 1000px) {
    #main {
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .project {
        width: 300px;
        height: 250px;
    }

    .project a {
        height: 30px;
        line-height: 30px;
    }

}