:root {
    --darkCyan: #5da5a4;
    --lightCyan: #f1f7f5;
    --veryDarkGrey: #273535;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    color: var(--darkCyan);
}

button {
    all: unset;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: var(--darkCyan);
}

header {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 156px;
    background: var(--darkCyan) url(images/bg-header-desktop.svg);
    z-index: -1
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 131px;
}

#filterHolder,
#jobHolder,
.job {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}

#filterHolder {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: -43.6px
}

#filterTagHolder {
    float: left;
    display: flex;
    gap: 40px;
    justify-content: center;
    font-size: small;
    max-width: 80%;
}

.filterTag,
.tag {
    background-color: var(--lightCyan);
    padding: 5px 10px 3px 10px;
    border-radius: 3px 0 0 3px;
    position: relative;
    user-select: none;
}

.filterTagRemove {
    background: var(--darkCyan) no-repeat url(images/icon-remove.svg);
    background-position: 50%;
    position: absolute;
    top: 0px;
    right: -25px;
    height: 100%;
    width: 25px;
    border-radius: 0 3px 3px 0;
}

.filterTagRemove:hover {
    background-color: var(--veryDarkGrey);
}

#filterTagClear {
    float: right;
    font-size: small;
}

#filterTagClear:hover {
    text-decoration: underline;
}

#jobHolder {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 80px;
}

.job {
    padding: 25px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
}

.job.featured {
    border-left: var(--darkCyan) solid 5px;
}

.jobLeft {
    display: flex;
    gap: 20px;
    align-items: center;
}

.jobInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: small;
}

.jobCompany,
.jobTitle {
    font-weight: bold;
}

.jobCompany {
    display: flex;
    gap: 10px;
    align-items: center;
}

.job .jobCompany .featured,
.job .jobCompany .new {
    color: #fff;
    border-radius: 10px;
    height: 20px;
    line-height: 20px;
    padding: 1px 7px 0 7px;
    font-weight: normal;
}

.job .jobCompany .featured {
    content: 'FEATURED';
    background-color: var(--veryDarkGrey);
}

.job.featured {
    border-left: var(--darkCyan) solid 5px;
}

.job .jobCompany .new {
    content: 'NEW!';
    background-color: var(--darkCyan);
}

.jobTitle {
    font-size: medium;
}

.jobSmallInfo {
    display: flex;
    gap: 10px;

}

.jobTags {
    display: flex;
    align-items: center;
    gap: 25px;
}

.tag {
    border-radius: 3px;
    font-size: small;
}

.tag:hover {
    background-color: var(--darkCyan);
    color: #fff;
}

.hide {
    display: none !important;
}

@media screen and (max-width: 1000px) {

    #jobHolder {
        gap: 40px;
    }

    .job {
        flex-direction: column;
        position: relative;
    }

    .jobLeft {
        padding-bottom: 10px;
        border-bottom: #ddd solid 1px;
        margin-bottom: 15px;
    }

    .jobLeft img {
        position: absolute;
        top: -20px;
        left: 25px;
        height: 40px;
        width: 40px;
    }

    #filterTagHolder,
    .jobTags {
        flex-wrap: wrap;
        row-gap: 10px;
    }

}