html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7e9dc;
}

#container {
    margin: 0 auto;
    width: 400px;
}

#balanceHeader {
    background-color: #ec755d;
    border-radius: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 50px;
    margin-bottom: 20px;
}

#balanceHeader img {
    height: 48px;
    width: 72px;
}

#balanceText {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

#balanceText div,
h1 {
    font-weight: bold;
    font-size: x-large;
    margin-top: 0;
}

main {
    background-color: #fff;
    border-radius: 15px;
    display: flex;
    flex-flow: column;
    padding: 20px;
}

#chart {
    display: flex;
    align-content: space-evenly;
    gap: 15px;
    border-bottom: #f3ece4 2px solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
    height: 150px;
}

.barHolder {
    width: 100%;
    display: flex;
    flex-flow: column-reverse;

}

.bar {
    border-radius: 4px;
    background-color: #ec755d;
    flex-basis: 50%;
    width: 100%;
}

.bar:hover {
    cursor: pointer;
    filter: brightness(1.1);
}

.today {
    background-color: #76b5bb !important;
}

.barHolder::before {
    content: attr(day);
    position: relative;
    text-align: center;
    bottom: -2px;
    font-size: small;
    color: #aea79f;
}

#mainFooter {
    display: flex;
    justify-content: space-between;
}

#totalText small,
#monthChange small {
    font-size: small;
    color: #aea79f;
}

#totalText div {
    font-weight: bold;
    font-size: xx-large;
}

#monthChange div {
    font-weight: bold;
    font-size: small;
}

#monthChange {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
}

.popup {
    display: none;
    position: relative;
    top: -30px;
    border-radius: 4px;
    background-color: #000;
    color: #fff;
    width: 38px;
    height: 25px;
    font-size: x-small;

    text-align: center;
    vertical-align: middle;
    line-height: 25px;
}