@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-Bold.ttf) format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-ExtraBoldItalic.ttf) format("truetype");
    font-weight: bolder;
    font-style: italic;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

#main {
    width: 600px;
    height: 500px;
    border-radius: 20px 20px 200px 20px;
    background-color: #fff;
    padding: 60px;
}

#main header {
    border-bottom: #878787 solid 2px;
    padding-bottom: 40px;
    margin-bottom: 30px;
    display: flex;
    box-sizing: border-box;
}

#main header label {
    letter-spacing: 5px;
    color: #797979;
    font-size: small;
}

#main header input {
    width: 100px;
    height: 50px;
    border: #878787 solid 1px;
    border-radius: 5px;
    margin-right: 40px;
    margin-top: 10px;
    padding-left: 10px;
    font-size: x-large;
}

#main header input::placeholder {
    font-weight: bold;
    color: #878787;
}

#main header .error {
    position: absolute;
    color: red;
    font-size: small;
}

.hide {
    display: none;
}

#main header img {
    position: relative;
    right: -75px;
    bottom: -90px;
    width: 35px;
    height: 35px;
    padding: 15px;
    background-color: #854bfe;
    border-radius: 50%;
    cursor: pointer;
}

#main header img:hover {
    background-color: #000;
}

#results {
    display: flex;
    flex-flow: column;
}

#results span {
    font-size: 70px;
    font-family: "Poppins";
    font-weight: bolder;
    font-style: italic;
}

#results span.result {
    letter-spacing: 10px;
    color: #854bfe;
}

@media screen and (max-width: 799px) {
    #main {
        width: 240px;
        height: 240px;
    }

    #main header {
        padding-bottom: 15px;
        margin-bottom: 10px;
    }

    #main header label {
        font-size: xx-small;
        letter-spacing: 2px;
    }

    #main header input {
        width: 50px;
        height: 25px;
        font-size: medium;
        margin-top: 4px;
        margin-right: 10px;
    }

    #main header img {
        right: 5px;
        bottom: -48px;
        width: 20px;
        height: 20px;
        padding: 10px;
    }

    #results span {
        font-size: 38px;
    }

    #main header .error {
        font-size: 9px;
    }
}