:root {
    --cyan: hsl(180, 66%, 49%);
    --darkViolet: hsl(257, 27%, 26%);
    --red: hsl(0, 87%, 67%);
    --gray: hsl(0, 0%, 75%);
    --grayishViolet: hsl(257, 7%, 63%);
    --veryDarkBlue: hsl(255, 11%, 22%);
    --veryDarkViolet: hsl(260, 8%, 14%);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 18px;
    color: var(--cyan);
}

button,
a {
    all: unset;
    cursor: pointer;
}

header {
    display: flex;
    gap: 25px;
    padding-right: 7%;
    padding-left: 7%;
}

.logo {
    height: 33px;
}

#headerMenu {
    width: 100%;
    display: flex;
    gap: 25px;
}

header button {
    font-size: small;
    color: var(--gray);
}

#headerMenu button:not(.colorButton):hover {
    color: #000;
}

#headerMenu button:nth-child(3) {
    margin-right: auto;
}

.colorButton {
    border-radius: 20px;
    background-color: var(--cyan);
    padding: 5px 20px;
    color: #fff;
}

.colorButton:hover {
    filter: brightness(1.1);
}

#menuButton {
    background: no-repeat url(images/icon-menu.svg);
    margin-left: auto;
    width: 25px;
    height: 25px;
    background-position-y: 50%;
}

#menuButton.closeButton {
    background: no-repeat url(images/icon-close-menu.svg);
    z-index: 5;
}

header #headerMenu.opened::before {
    content: '';
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    height: 100%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.7);
}

header #headerMenu.opened {
    display: flex !important;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: 60%;
    background-color: #fff;
    flex-flow: column;
    padding: 90px 40px;
    align-items: flex-start;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

#upper,
#mid,
footer {
    display: flex;
    flex-direction: column;
    width: 86%;
    padding-right: 7%;
    padding-left: 7%;
}

#upper {
    align-items: flex-start;
    margin-top: 60px;
    background: no-repeat url(images/illustration-working.svg);
    background-position-x: 107%;
    background-size: contain;
    margin-bottom: 90px;
}

#upper h1,
#upper p {
    width: 40%;
}

#upper h1 {
    margin-top: 30px;
    line-height: 90px;
    font-size: 60px;
    font-weight: 700;
}

#upper p {
    margin-bottom: 20px;
}

#mid {
    background-color: #f0f1f6;
    height: 100%;
    padding-bottom: 150px;
}

#urlHolder {
    width: 100%;
    align-self: center;
    border-radius: 10px;
    background: var(--darkViolet) no-repeat url(images/bg-shorten-desktop.svg);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    position: relative;
    top: -50px;
    margin-bottom: -25px;
}

#urlInput {
    color: var(--cyan);
    padding: 5px 5px 5px 20px;
    width: 80%;
    height: 30px;
    border-radius: 5px;
    font-size: larger;
}

#urlInput.error {
    border: red solid 3px;
}

#urlHolder .error:not(#urlInput) {
    position: absolute;
    bottom: 7px;
    left: 35px;
    font-size: x-small;
    color: var(--red);
    font-style: italic;
}

#shortenButton {
    height: 30px;
    border-radius: 5px;
}

#linkList {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    margin-bottom: 60px;
}

#linkList .linkBox {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 30px;
}

#linkList .linkBox .longLink {
    color: #000;
    margin-right: auto;
}

#linkList .linkBox .shortLink {
    color: var(--cyan);
}

#linkList .linkBox .linkButton {
    border-radius: 5px;
    height: 25px;
}

#linkList .linkBox .linkButton.copied {
    background-color: var(--darkViolet);
}

#infoArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#infoArea>p {
    font-size: small;
    color: var(--grayishViolet);
    margin-top: 10px;
    margin-bottom: 50px;
    width: 28%;
    text-align: center;
}


#infoBoxHolder {
    display: flex;
    flex-direction: row;
    gap: 30px;
    position: relative;
}

#infoBoxHolder::after {
    content: '';
    position: absolute;
    height: 5px;
    width: 80%;
    background-color: var(--grayishViolet);
    top: 100px;
    right: 10%;
    z-index: 0;
}

.infoBox {
    padding: 50px 20px 40px 20px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.infoBox::after {
    content: '';
    display: block;
    height: 60px;
    width: 60px;
    background: var(--darkViolet) no-repeat;
    background-position: 50%;
    background-size: 50%;
    border-radius: 50%;
    position: absolute;
    top: -30px
}

.infoBox p {
    margin-top: 10px;
    font-size: small;
}

.infoBox#info1::after {
    background-image: url(images/icon-brand-recognition.svg);
}

.infoBox#info2 {
    top: 30px;
}

.infoBox#info2::after {
    background-image: url(images/icon-detailed-records.svg);

}

.infoBox#info3 {
    top: 60px;
}

.infoBox#info3::after {
    background-image: url(images/icon-fully-customizable.svg);

}

#boost {
    background: var(--darkViolet) no-repeat url(images/bg-boost-desktop.svg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 30px 0 50px 0;
    color: #fff;
}

#boost h3 {
    font-size: xx-large;
}

footer {
    flex-direction: row;
    background-color: #232027;
    color: #fff;
    justify-content: space-evenly;
    padding: 50px 7%;
}

footer>img {
    filter: brightness(10);
    margin-right: 100px
}

footer ul {
    list-style-type: none;
    font-size: small;
}

footer ul li:nth-child(1) {
    font-weight: 700;
    margin-bottom: 20px;
    color: #fff;
}

footer ul li {
    margin-bottom: 5px;
    color: var(--cyan);
}

footer #socialHolder a {
    margin-right: 20px;
}

footer #socialHolder img:hover {
    filter: invert(64%) sepia(52%) saturate(593%) hue-rotate(131deg) brightness(98%) contrast(88%);

}

.mobileOnly {
    display: none;
}

@media screen and (max-width: 1100px) {
    #upper {
        background-position-x: 120%;
    }

    #urlInput {
        width: 70%;
    }
}

@media screen and (max-width: 850px) {
    .mobileOnly {
        display: block;
    }

    #headerMenu {
        display: none
    }

    #upper {
        background-position-x: -30%;
        background-size: 130%;
        align-items: center;
    }

    #upper h1 {
        padding-top: 90%;
        font-size: 46px;
        line-height: normal;
    }

    #upper h1,
    #upper p {
        width: 100%;
        text-align: center;
    }

    #urlHolder {
        flex-direction: column;
        gap: 20px;
        height: 125px;
        box-sizing: border-box;
        padding: 10px 0;
    }

    #urlInput,
    #shortenButton {
        padding: 0;
        height: 40px;
        box-sizing: inherit;
        width: 90%
    }

    #urlInput {
        font-size: smaller;
        padding-left: 10px;
    }

    #shortenButton {
        text-align: center;
    }

    #urlHolder .error:not(#urlInput) {
        bottom: 45%;
        left: 6%;
    }

    #linkList .linkBox {
        flex-direction: column;
        font-size: small;
        padding: 10px;
        gap: 0;
        height: 130px;
    }

    #linkList .linkBox .longLink {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 99%;
        padding-bottom: 10px;
        border-bottom: #eee solid 1px;
    }

    #linkList .linkBox .shortLink {
        text-align: left;
        align-self: flex-start;
    }

    #linkList .linkBox .linkButton {
        text-align: center;
        width: 100%;
        align-self: flex-start;
        box-sizing: inherit;
        padding: 0px;
        height: 30px;
    }

    #infoArea>p {
        width: 90%;
    }

    #infoBoxHolder {
        flex-direction: column;
    }

    #infoBoxHolder::after {
        height: 500px;
        width: 5px;
        right: 46%;
    }

    .infoBox {
        text-align: center;
    }

    .infoBox::after {
        left: 45%;
    }

    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer .logo {
        margin: 0 0 15px 0;
    }

    footer ul {
        margin-bottom: 25px
    }

    footer ul li:nth-child(1) {
        margin-bottom: 10px;
    }
}