* {
    box-sizing: content-box;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    position: relative;
}

button:not(.votePlus, .voteMinus)::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
}

button:not(.votePlus, .voteMinus):hover::after {
    background-color: rgba(255, 255, 255, .5);
}

body {
    display: flex;
    flex-flow: column;
    margin: 50px 0 0 0;
    align-items: center;
    justify-content: center;
    background-color: #f5f6fa;
}

main {
    width: 50%;
}

#comments,
main {

    display: flex;
    flex-flow: column;
    align-items: end;
}

.commentBoxMain {
    width: 100%
}

.commentBox,
.replyBox {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

.voteHolder {
    padding: 10px 5px;
    border-radius: 7px;
    background-color: #f5f6fa;
    display: flex;
    flex-direction: column;
    flex-basis: 30px;
}

.voteHolder button.votePlus {
    background-image: url(images/icon-plus.svg);
}

.voteHolder button.voteMinus {
    background-image: url(images/icon-minus.svg);
}

.voteHolder button {
    height: 10px;
    width: 10px;
    margin: 0 auto;
    padding: 5px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.voteScore {
    margin: 10px auto 5px auto;
    color: #5357b6;
    font-weight: bold;
}

.replyButton,
.deleteButton,
.editButton {
    color: #5357b6;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 18px;
}

.replyButton {
    background-image: url(images/icon-reply.svg);
}

.replyBox {
    display: flex;
    gap: 15px;
}

.replyBox img {
    width: 40px;
    height: 40px;
}

.replyBox .replyInput {
    flex-grow: 2;
    height: 80px;
    border: #eee solid 1px;
    border-radius: 5px;
    resize: none;
    font-family: serif;
    padding: 10px 15px;
}

.replyBox .sendReplyButton {
    background-color: #5357b6;
    color: #fff;
    font-weight: bold;
    width: 90px;
    height: 40px;
    border-radius: 7px;
    position: relative;
}

.deleteButton {
    background-image: url(images/icon-delete.svg);
}

.editButton {
    background-image: url(images/icon-edit.svg);
}

.commentBoxMain button img {
    margin-right: 5px;
}

.commentBoxHeader {
    display: flex;
    flex-flow: row;
    gap: 15px;
    margin-bottom: 20px;
    height: 30px;
    line-height: 30px;
}

.commentUserImg {
    height: 30px;
    width: 30px;
}

.commentUserName {
    font-weight: bold;
}

.you::after {
    content: "you";
    background-color: #5357b6;
    color: #fff;
    padding: 3px 5px;
    margin-left: 10px;
    border-radius: 3px;
}

.commentAge {
    flex-grow: 2;
}

.deleteButton {
    color: #ed6368;
}

.commentText,
.commentAge {
    color: #777;
}

.reply {
    width: 85%;
    position: relative;
}

.reply:before {
    content: "";
    position: absolute;
    height: 116%;
    border-left: #ddd solid 2px;
    top: -10px;
    left: -40px;
}

.hide {
    display: none;
}

.error {
    position: absolute;
    color: red;
}